{% import "components/nothing.html" as nothing with context %}
{% import "components/user.html" as user with context %}
{% import "components/paginator.html" as paginator with context %}
{% import "components/blog_user.html" as blog_user with context %}
{% import "components/blog_list.html" as blog_list with context %}
{% extends "layout/basic.html" %}
{% block content %}
<style>
  @media (max-width: 599px) {
  .blog__row {
    display: flex;
    flex-direction: column-reverse;
  }
}
</style>
<div class="row blog__row">
  <div class="medium-9 columns">
    <div class="section">
      {% if not ddocs.length %}
        {{ nothing.render('No post yet...') }}
      {% else %}
        {{ blog_list.render(ddocs, scenario, is_owner) }}
        {% if page and dpcount %}{{ paginator.render(page, dpcount) }}{% endif %}
      {% endif %}
    </div>
  </div>
  <div class="medium-3 columns">
    {% if scenario == 'user' and udoc %}
    <div class="section side">
      {{ blog_user.render_side(udoc, is_owner) }}
    </div>
    {% endif %}
    <div class="section side">
      <div class="section__body">
        <form method="get">
            <label for="blog-list-sort" class="compact label">{{ _('Sort by') }}</label>
            <select class="compact select" id="blog-list-sort" name="sort" onchange="this.form.submit()">
              {% for sort_key in sort_keys %}
                <option value="{{ sort_key }}" {% if sort_key == sort %}selected{% endif %}>{{ _('blog_sort_' ~ sort_key) }}</option>
              {% endfor %}
            </select>
          </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
