{% import "components/blog_user.html" as blog_user with context %}
{% macro render(ddocs, scenario, is_owner) %}
<ol class="section__list discussion__list">
  {%- for ddoc in ddocs -%}
    <li class="section__list__item discussion__item{% if scenario == 'user' and ddoc.pin %} highlight{% endif %}">
      <div class="media">
        <div class="media__left"></div>
        <div class="media__body top">
          <h1 class="discussion__title"><a href="{{ url('blog_post_detail', uid=ddoc.owner, did=ddoc._id, anchor=ddoc.updateAt.getTime()) }}" data-emoji-enabled>{{ ddoc['title'] }}</a></h1>
          <ul class="supplementary list">
            {% if scenario == 'user' and ddoc.hidden %}
              <li>
                <span class="discussion-node-tag">
                    {{ _('Hidden') }}
                </span>
              </li>
            {% endif %}
            {% if scenario == 'home' %}
              <li>{{ blog_user.render_inline(udict[ddoc.owner]) }}</li>
            {% endif %}
            <li>{{ _('Views: {0}').format(ddoc.views) }}</li>
            <li>{{ _('Updated at: {0}').format(datetimeSpan(ddoc.updateAt))|safe }}</li>
            {% if ddoc.firstPublishAt %}
              <li>{{ 
                _('First published at: {0}' if is_owner else 'Published at: {0}').format(datetimeSpan(ddoc.firstPublishAt))|safe
              }}</li>
            {% endif %}
          </ul>
        </div>
      </div>
    </li>
  {%- endfor -%}
</ol>
{% endmacro %}
